<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>采购资讯</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="stylesheet" href="css/amazeui.min.css" />
		<link rel="stylesheet" href="css/weixin_query.css" />
		<script src="js/jquery.min.js"></script>
		<script src="js/amazeui.min.js"></script>
		<script type="text/javascript" src="js/setting.js"></script>
		<script>
			function jqradio(name) {
				return $(':checked[name="' + name + '"]').val();
			}
			
			Date.prototype.Format = function(fmt) {
				var d = this;
				var o = {
					"M+": d.getMonth() + 1, //月份
					"d+": d.getDate(), //日
					"h+": d.getHours(), //小时
					"m+": d.getMinutes(), //分
					"s+": d.getSeconds(), //秒
					"q+": Math.floor((d.getMonth() + 3) / 3), //季度
					"S": d.getMilliseconds() //毫秒
				};
				if (/(y+)/.test(fmt)) {
					fmt = fmt.replace(RegExp.$1, (d.getFullYear() + "").substr(4 - RegExp.$1.length));
				}
				for (var k in o) {
					if (new RegExp("(" + k + ")").test(fmt)) {
						fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
					}
				}
				return fmt;
			}
			
			function toPage(i) {
				var matname = $("#matname").val();
				var proname = $("#proname").val();
				window.location = "/WXpromatbase?p=" + i+"&matname="+matname+"&proname="+proname;
			}
			
			function setUser(){
				$("#cuser").html(window.localStorage.getItem("user"));
				$("#matname").val('<%=matname%>');
				$("#proname").val('<%=proname%>');
			}
		</script>
	</head>

	<body onload="setUser()" class="am-with-fixed-navbar">

		<div class="am-panel am-panel-default admin-sidebar-panel">
			<div class="am-panel-bd">
				<p>尊敬的 <span id="cuser"></span> 您好！</p>
				<p>欢迎使用微信版 建定通</p>
				<p>
					<button type="button" class="am-btn am-btn-danger" onclick="window.location='/WXprobase';">工程查询</button>
					<button type="button" class="am-btn am-btn-primary" onclick="window.location='/WXContactBase';">人脉查询</button>
					<button type="button" class="am-btn am-btn-success" onclick="window.location='/WXpromatbase';">采购资讯</button>
				</p>
				<h1>“建定工程”微信服务号 工程信息查询(江浙沪地区)</h1>
				<p>采购内容：<input type="text" className="am-input-sm" id="matname" /></p>
				<p>工程名称：<input type="text" className="am-input-sm" id="proname" /></p>
				<p><button type="button" class="btn-c am-btn am-btn-primary am-btn-xs" onclick="toPage(1)"><span class="am-icon-search"></span> 查询</button></p>
				<table class="am-table am-table-striped am-table-hover jdt-table">
					<thead>
						<tr>
							<th>采购内容</th>
							<th>工程名称</th>
							<th>发布日期</th>
						</tr>
					</thead>
					<tbody>
						<%for(var i in record){%>
							<tr>
								<td><a href="/WXProMatDetail?id=<%=record[i].id%>"><%=record[i].matname%></a></td>
								<td><a href="/WXProDetail?id=<%=record[i].proid%>"><%=record[i].proname%></a></td>
								<td><%=record[i].ptime%></td>
							</tr>
						<%}%>
					</tbody>
				</table>
				<ul data-am-widget="pagination" class="am-pagination am-pagination-default">
					<li <%=isFirstPage? "disabled": ""%> class="am-pagination-prev ">
						<a <%=isFirstPage? "": "onclick=toPage("+(page-1)+ ");"%> >上一页</a>
					</li>
					<%
				        var minpage = 0;
				        var maxpage = 10;
				        if((totalpage+1)>10){
				          minpage = page - 5;
				          maxpage = page + 5;
				        }
				        if(page - 5 < 1){
				          maxpage = maxpage - page + 5;
				        }
				        if(page + 5 > (totalpage+1)){
				          minpage = minpage - (page + 5) + (totalpage +1);
				        }
				        for(var i=1;i<(totalpage+1);i++){
				          var active = "";
				          if(i==page){active = "class=am-active";}
				            if(i>minpage && i<maxpage){
				    %>
				        <li <%=active%>><a href="#" <%=active%> onclick="toPage(<%=i%>);"><%=i%></a></li>
				    <%}}%>
				      
					<li <%=isLastPage? "disabled": ""%> class="am-pagination-next ">
						<a <%=isLastPage? "": "onclick=toPage("+(page+1)+ ");"%> >下一页</a>
					</li>
				</ul>
				<div data-am-widget="titlebar" class="am-titlebar am-titlebar-multi">
					<h2 class="am-titlebar-title ">
				               当前第<%=page%>页/共<%=totalpage%>页&nbsp;<%=total%>条数据
				    </h2>
				</div>
			</div>
		</div>
	</body>

</html>